<form name="login_options" novalidate>
  <md-content layout-padding ng-cloak layout="column">
    <section ng-show="loginCtrl.available === false">
      <label>{{'NOGOOGLEPLUS' | translate}}</label>
    </section>
    <section ng-show="loginCtrl.available && loginCtrl.logged">
      <md-list>
        <md-list-item>
          <label ng-bind="loginCtrl.user.email"></label>
        </md-list-item>
        <md-list-item>
          <md-button class="md-raised md-primary" aria-label="Logout" ng-click="loginCtrl.googleLogout()">{{'GOOGLE_LOGOUT'|translate}}</md-button>
        </md-list-item>
      </md-list>
      <section></section>
    </section>
    <section ng-show="loginCtrl.available && !loginCtrl.logged">
      <md-list>
        <md-list-item>
          <md-button class="md-raised md-primary" aria-label="Login Google" ng-click="loginCtrl.googleLogin()">{{'GOOGLE_LOGIN'|translate}}</md-button>
        </md-list-item>
      </md-list>
    </section>
    <!--
    <md-list>
      <md-list-item>
        <label for="langSelect">{{'LANGUAGE_SELECT' | translate}}</label>
        <span flex></span>
        <md-select id="langSelect" ng-model="genPrefCtrl.prefs.curlang" md-on-close="genPrefCtrl.setLanguage(genPrefCtrl.prefs.curlang)">
          <md-option ng-repeat="lang in genPrefCtrl.languages" value="{{lang}}">
            {{lang | translate}}
          </md-option>
        </md-select>
      </md-list-item>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" aria-label="Save" ng-click="genPrefCtrl.savePreferences()">{{'SAVE_BUTTON'|translate}}</md-button>
    </section>
-->
  </md-content>
</form>
