<?xml version='1.0' encoding='utf-8'?>
<widget id="tumblr.corinzio.WineCards" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WineCards</name>
    <description>
      Wine taste cards
    </description>
    <author email="corinzio@gmx.com" href="corinzio.tumblr.com">
      Corinzio
    </author>
    <icon src="src/static/res/grape.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="ionic-plugin-keyboard" spec="~1.0.8" />
    <plugin name="onesignal-cordova-plugin" spec="~1.10.2" />
    <plugin name="cordova-plugin-camera" spec="~2.1.0" />
    <plugin name="cordova-plugin-file" spec="~4.1.0" />
    <plugin name="cordova-plugin-google-signin" spec="https://github.com/corinzio/cordova-plugin-google-signin" />
</widget>
