<form name="preferences" novalidate>
  <md-content layout-padding ng-cloak layout="column">
    <md-list>
      <md-list-item>
        <label for="langSelect">{{'LANGUAGE_SELECT' | translate}}</label>
        <span flex></span>
        <md-select id="langSelect" ng-model="prefs.curlang" md-on-close="setLanguage()">
          <md-option ng-repeat="lang in getLanguages()" value="{{lang}}">
            {{lang | translate}}
          </md-option>
        </md-select>
      </md-list-item>
    </md-list>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" aria-label="Save" ng-click="saveSettings(prefs)">{{'SAVE_BUTTON'|translate}}</md-button>
    </section>
  </md-content>
</form>
