.winecardview.ng-enter {
  overflow: hidden;
  animation: slideInRight 0.5s;
}
.winecardview.ng-leave {
  overflow: hidden;
  animation: slideOutLeft 0.5s;
}
.winecardview.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;
  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
}
.winecardview.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity: 1;
}
.winecardview.ng-enter, .winecardview.ng-leave {
  transition: ease-in-out 0.5s;
  display: block;
  width: 100%;
  position: fixed;
  opacity: 0;
}
md-toolbar.wine-param {
  min-height: 0px;
}
param-of-wine {
  display: block;
  padding-top: 3px;
}
