<div>
  <form name="winedescr" novalidate>
    <md-subheader class="md-primary">
      <h3>{{'WINEDSCR'| translate}}</h3>
    </md-subheader>
    <md-content layout-padding layout="column" ng-cloak>
      <div layout-gt-xs="row" layout-padding layout="column">
        <md-input-container flex="66">
          <label>{{'WINETITLE' | translate}}</label>
          <input name="name" ng-model="descCtrl.wine_name" required/>
        </md-input-container>
        <md-input-container flex="33">
          <label>{{ 'WINEYEAR' | translate}}</label>
          <input name="wineyear" ng-maxlength="4" ng-minlength="4" ng-model="descCtrl.wine_year" required type="number"/>
        </md-input-container>
      </div>
      <div>
        <md-switch aria-label={{'SPARKLING' | translate}} class="md-primary" ng-model="descCtrl.wine_sparkling">
          {{'SPARKLING' | translate}}
        </md-switch>
      </div>
      <section layout-align="center center" layout-sm="column" layout-wrap layout="row">
        <md-button aria-label="{{'CONTINUE'|translate}}" class="md-raised md-primary" name="continue" ng-click=descCtrl.setWineDescription() ng-disabled="winedescr.$invalid" type="submit">{{'CONTINUE'|translate}}</md-button>
      </section>
    </md-content>
  </form>
</div>
