<div layout-fill layout="column">
  <form name="winescore" novalidate>
    <section>
      <div ng-repeat="param in scoreCtrl.params">
        <md-toolbar class="wine-param">
          <span>{{param | translate }}
          </span>
        </md-toolbar>
        <md-content layout-fill layout="column">
          <div ng-repeat="val in scoreCtrl.getParamValues(param)" layout="column">
            <label class="winevalue">{{val|translate}}
              :
              <b>{{scoreCtrl.scores.parameters[param][val][scoreCtrl.points[param][val]][1]| translate}}</b>
            </label>
            <star-rating max="6" score="scoreCtrl.points[param][val]"></star-rating>
            <md-divider></md-divider>
          </div>
        </md-content>
      </div>
    </section>
    <section layout-align="center center" layout-wrap layout="row">
      <md-button aria-label="Reset" class="md-raised md-primary" ng-click="scoreCtrl.reset()">{{'RESET'|translate}}</md-button>
      <md-button aria-label="Continue" class="md-raised md-primary" ng-click="scoreCtrl.save()">{{'CONTINUE'|translate}}</md-button>
    </section>
  </form>
</div>
