<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>

<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <title>WineOn</title>
  <!-- Angular Material requires Angular.js Libraries -->
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/angular-translate.min.js"></script>
  <script type="text/javascript" src="lib/angular-translate-loader-static-files.min.js"></script>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="lib/angular-material.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="lib/font-awesome.min.css" />
  <!-- Animate CSS -->
  <link rel="stylesheet" href="lib/animate.min.css" />
  <link rel="stylesheet" href="lib/winecards.css" />
</head>

<body ng-cloak>
  <div ng-controller="MasterController as mstrCtrl">
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">{{'MENU_TITLE' | translate }}</h1>
        </md-toolbar>
        <md-content layout="column">
          <md-list-item class="secondary-button-padding" ng-click="navigateTo('NAV_SETTINGS')">
            <span class="md-avatar-icon fa fa-cogs "></span>
            <span>{{'GENERICS'|translate}}</span>
          </md-list-item>
        </md-content>
      </md-sidenav>
      <div layout="column" layout-fill>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="goBack()" ng-hide="hideBack()">
              <md-icon md-font-icon="fa fa-chevron-left fa-2x"></md-icon>
            </md-button>
            <span>WineCards</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()">
              <md-icon md-font-icon="fa fa-bars fa-2x"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <ng-view class="winecardview"></ng-view>
      </div>
    </section>
  </div>
  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="lib/angular-route.min.js"></script>
  <script type="text/javascript" src="lib/angular-animate.min.js"></script>
  <script type="text/javascript" src="lib/angular-aria.min.js"></script>
  <script type="text/javascript" src="lib/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script type="text/javascript" src="lib/angular-material.min.js"></script>
  <!-- Wineon application javascript -->
  <script type="text/javascript" src="app/winecards.js"></script>
</body>

</html>
